.elementor-69 .elementor-element.elementor-element-27fe536 {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-8aad423>.elementor-container {
    max-width: 1320px;
}

.elementor-69 .elementor-element.elementor-element-8aad423 {
    margin-top: 0px;
    margin-bottom: 60px;
}

.elementor-69 .elementor-element.elementor-element-140c3de>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-4b430fa {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-4b430fa>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-69 .elementor-element.elementor-element-33c06b3>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-33c06b3>.elementor-element-populated {
    margin: 0px 15px 0px 15px;
}

.elementor-69 .elementor-element.elementor-element-209e73e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-69 .elementor-element.elementor-element-209e73e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-69 .elementor-element.elementor-element-209e73e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-69 .elementor-element.elementor-element-209e73e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-69 .elementor-element.elementor-element-209e73e .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-69 .elementor-element.elementor-element-209e73e .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-209e73e .elementor-image-box-title {
    margin-bottom: 5px;
    font-size: 22px;
}

.elementor-69 .elementor-element.elementor-element-209e73e .elementor-image-box-content {
    padding: 0px 25px 0px 25px;
}

.elementor-69 .elementor-element.elementor-element-209e73e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-69 .elementor-element.elementor-element-f6a1129>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-f6a1129>.elementor-element-populated {
    margin: 0px 15px 0px 15px;
}

.elementor-69 .elementor-element.elementor-element-e6306d1.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-69 .elementor-element.elementor-element-e6306d1.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-69 .elementor-element.elementor-element-e6306d1.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-69 .elementor-element.elementor-element-e6306d1 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-69 .elementor-element.elementor-element-e6306d1 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-69 .elementor-element.elementor-element-e6306d1 .elementor-image-box-title {
    margin-bottom: 5px;
    font-size: 22px;
}

.elementor-69 .elementor-element.elementor-element-e6306d1 .elementor-image-box-content {
    padding: 0px 25px 0px 25px;
}

.elementor-69 .elementor-element.elementor-element-e6306d1>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-69 .elementor-element.elementor-element-1dfd1f1:not(.elementor-motion-effects-element-type-background),
.elementor-69 .elementor-element.elementor-element-1dfd1f1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2020/08/image-42-copyright-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-69 .elementor-element.elementor-element-1dfd1f1>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-69 .elementor-element.elementor-element-1dfd1f1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-69 .elementor-element.elementor-element-d0dfc9c {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-d0dfc9c .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-904e32d {
    text-align: center;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-c618b18:not(.elementor-motion-effects-element-type-background),
.elementor-69 .elementor-element.elementor-element-c618b18>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2020/08/h7_banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-69 .elementor-element.elementor-element-c618b18>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-69 .elementor-element.elementor-element-c618b18 {
    border-style: dotted;
    border-width: 3px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-69 .elementor-element.elementor-element-c618b18,
.elementor-69 .elementor-element.elementor-element-c618b18>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-69 .elementor-element.elementor-element-7fb484e {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-7fb484e .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-91e0984 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-a98fa25:not(.elementor-motion-effects-element-type-background),
.elementor-69 .elementor-element.elementor-element-a98fa25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2020/08/h7_banner-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-69 .elementor-element.elementor-element-a98fa25>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-69 .elementor-element.elementor-element-a98fa25 {
    border-style: dotted;
    border-width: 3px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-69 .elementor-element.elementor-element-fa99c94 {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-fa99c94 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-d5340bb {
    text-align: center;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-3196f72:not(.elementor-motion-effects-element-type-background),
.elementor-69 .elementor-element.elementor-element-3196f72>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2020/08/rev-slider_h4-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-69 .elementor-element.elementor-element-3196f72>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-69 .elementor-element.elementor-element-3196f72 {
    border-style: dotted;
    border-width: 3px 0px 0px 0px;
    border-color: #030202;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-69 .elementor-element.elementor-element-d049ce4 {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-d049ce4 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-6d160cf {
    text-align: center;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-be16679 {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 30px 0px 30px;
}

.elementor-69 .elementor-element.elementor-element-5695b82>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-39ae67a {
    text-align: center;
    color: #BAC34E;
    font-size: 24px;
    line-height: 25px;
}

.elementor-69 .elementor-element.elementor-element-39ae67a>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-69 .elementor-element.elementor-element-b8d5e5a {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-b8d5e5a .elementor-heading-title {
    font-size: 40px;
    letter-spacing: -1px;
}

.elementor-69 .elementor-element.elementor-element-b8d5e5a>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-bc-flex-widget .elementor-69 .elementor-element.elementor-element-c29397b.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-69 .elementor-element.elementor-element-c29397b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-69 .elementor-element.elementor-element-c29397b>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-c29397b>.elementor-element-populated {
    padding: 0px 30px 0px 0px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-view-stacked .elementor-icon {
    background-color: #E4D98B;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-view-framed .elementor-icon,
.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-view-default .elementor-icon {
    fill: #E4D98B;
    color: #E4D98B;
    border-color: #E4D98B;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-view-stacked-freshio .elementor-icon svg {
    fill: #E4D98B;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-view-stacked-freshio .elementor-icon-box-wrapper:hover i {
    color: #E4D98B;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-view-stacked-freshio .elementor-icon {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-position-right .elementor-icon-box-icon {
    margin-left: 20px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-position-left .elementor-icon-box-icon {
    margin-right: 20px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 20px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c .elementor-icon {
    padding: 15px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-69 .elementor-element.elementor-element-01a5b2c .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c .elementor-icon-box-title,
.elementor-69 .elementor-element.elementor-element-01a5b2c .elementor-icon-box-title a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c .elementor-icon-box-description {
    font-size: 12px;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-01a5b2c>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-view-stacked .elementor-icon {
    background-color: #E4C28B;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-view-framed .elementor-icon,
.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-view-default .elementor-icon {
    fill: #E4C28B;
    color: #E4C28B;
    border-color: #E4C28B;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-view-stacked-freshio .elementor-icon svg {
    fill: #E4C28B;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-view-stacked-freshio .elementor-icon-box-wrapper:hover i {
    color: #E4C28B;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-view-stacked-freshio .elementor-icon {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-position-right .elementor-icon-box-icon {
    margin-left: 20px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-position-left .elementor-icon-box-icon {
    margin-right: 20px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 20px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28 .elementor-icon {
    font-size: 36px;
    padding: 22px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-69 .elementor-element.elementor-element-84e8a28 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28 .elementor-icon-box-title,
.elementor-69 .elementor-element.elementor-element-84e8a28 .elementor-icon-box-title a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28 .elementor-icon-box-description {
    font-size: 12px;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-84e8a28>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-view-stacked .elementor-icon {
    background-color: #A9EBD9;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-view-framed .elementor-icon,
.elementor-69 .elementor-element.elementor-element-15799f2.elementor-view-default .elementor-icon {
    fill: #A9EBD9;
    color: #A9EBD9;
    border-color: #A9EBD9;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-view-stacked-freshio .elementor-icon svg {
    fill: #A9EBD9;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-view-stacked-freshio .elementor-icon-box-wrapper:hover i {
    color: #A9EBD9;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-view-stacked-freshio .elementor-icon {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-position-right .elementor-icon-box-icon {
    margin-left: 20px;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-position-left .elementor-icon-box-icon {
    margin-right: 20px;
}

.elementor-69 .elementor-element.elementor-element-15799f2.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 20px;
}

.elementor-69 .elementor-element.elementor-element-15799f2 .elementor-icon {
    padding: 15px;
}

.elementor-69 .elementor-element.elementor-element-15799f2 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-69 .elementor-element.elementor-element-15799f2 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-69 .elementor-element.elementor-element-15799f2 .elementor-icon-box-title,
.elementor-69 .elementor-element.elementor-element-15799f2 .elementor-icon-box-title a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-15799f2 .elementor-icon-box-description {
    font-size: 12px;
    line-height: 18px;
}

.elementor-bc-flex-widget .elementor-69 .elementor-element.elementor-element-538cf58.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-69 .elementor-element.elementor-element-538cf58.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-69 .elementor-element.elementor-element-538cf58.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-69 .elementor-element.elementor-element-538cf58>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-3e09a8f {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-69 .elementor-element.elementor-element-2595c7a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-69 .elementor-element.elementor-element-2595c7a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-69 .elementor-element.elementor-element-2595c7a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-view-stacked .elementor-icon {
    background-color: #B3CDE3;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-view-framed .elementor-icon,
.elementor-69 .elementor-element.elementor-element-48893b4.elementor-view-default .elementor-icon {
    fill: #B3CDE3;
    color: #B3CDE3;
    border-color: #B3CDE3;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-view-stacked-freshio .elementor-icon svg {
    fill: #B3CDE3;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-view-stacked-freshio .elementor-icon-box-wrapper:hover i {
    color: #B3CDE3;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-view-stacked-freshio .elementor-icon {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-position-right .elementor-icon-box-icon {
    margin-left: 20px;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-position-left .elementor-icon-box-icon {
    margin-right: 20px;
}

.elementor-69 .elementor-element.elementor-element-48893b4.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 20px;
}

.elementor-69 .elementor-element.elementor-element-48893b4 .elementor-icon {
    padding: 15px;
}

.elementor-69 .elementor-element.elementor-element-48893b4 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-69 .elementor-element.elementor-element-48893b4 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-69 .elementor-element.elementor-element-48893b4 .elementor-icon-box-title,
.elementor-69 .elementor-element.elementor-element-48893b4 .elementor-icon-box-title a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-48893b4 .elementor-icon-box-description {
    font-size: 12px;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-48893b4>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-view-stacked .elementor-icon {
    background-color: #CBB1E7;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-view-framed .elementor-icon,
.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-view-default .elementor-icon {
    fill: #CBB1E7;
    color: #CBB1E7;
    border-color: #CBB1E7;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-view-stacked-freshio .elementor-icon svg {
    fill: #CBB1E7;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-view-stacked-freshio .elementor-icon-box-wrapper:hover i {
    color: #CBB1E7;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-view-stacked-freshio .elementor-icon {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-position-right .elementor-icon-box-icon {
    margin-left: 20px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-position-left .elementor-icon-box-icon {
    margin-right: 20px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 20px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0 .elementor-icon {
    font-size: 40px;
    padding: 20px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-69 .elementor-element.elementor-element-e8222f0 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0 .elementor-icon-box-title,
.elementor-69 .elementor-element.elementor-element-e8222f0 .elementor-icon-box-title a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0 .elementor-icon-box-description {
    font-size: 12px;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-e8222f0>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-view-stacked .elementor-icon {
    background-color: #E1AFBF;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-view-framed .elementor-icon,
.elementor-69 .elementor-element.elementor-element-b575f42.elementor-view-default .elementor-icon {
    fill: #E1AFBF;
    color: #E1AFBF;
    border-color: #E1AFBF;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-view-stacked-freshio .elementor-icon svg {
    fill: #E1AFBF;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-view-stacked-freshio .elementor-icon-box-wrapper:hover i {
    color: #E1AFBF;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-view-stacked-freshio .elementor-icon {
    color: #FFFFFF;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-position-right .elementor-icon-box-icon {
    margin-left: 20px;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-position-left .elementor-icon-box-icon {
    margin-right: 20px;
}

.elementor-69 .elementor-element.elementor-element-b575f42.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 20px;
}

.elementor-69 .elementor-element.elementor-element-b575f42 .elementor-icon {
    font-size: 30px;
    padding: 25px;
}

.elementor-69 .elementor-element.elementor-element-b575f42 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-69 .elementor-element.elementor-element-b575f42 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-69 .elementor-element.elementor-element-b575f42 .elementor-icon-box-title,
.elementor-69 .elementor-element.elementor-element-b575f42 .elementor-icon-box-title a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-b575f42 .elementor-icon-box-description {
    font-size: 12px;
    line-height: 18px;
}

.elementor-69 .elementor-element.elementor-element-1aad032>.elementor-container {
    max-width: 900px;
    min-height: 480px;
}

.elementor-69 .elementor-element.elementor-element-1aad032:not(.elementor-motion-effects-element-type-background),
.elementor-69 .elementor-element.elementor-element-1aad032>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://demo2wpopal.b-cdn.net/freshio/wp-content/uploads/2020/08/bg2-h4.jpg");
    background-repeat: no-repeat;
}

.elementor-69 .elementor-element.elementor-element-1aad032 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-69 .elementor-element.elementor-element-1aad032>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-69 .elementor-element.elementor-element-86f5d0b>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-08eb0f2 .item-box {
    text-align: center;
    padding: 0% 15% 0% 15%;
}

.elementor-69 .elementor-element.elementor-element-08eb0f2 .content {
    color: #000000;
    font-size: 18px;
    margin-bottom: 15px;
}

.elementor-69 .elementor-element.elementor-element-08eb0f2 .elementor-testimonial-image {
    margin: 0px 0px 20px 0px;
}

.elementor-69 .elementor-element.elementor-element-08eb0f2 .slick-slide-bg {
    animation-duration: calc(5000ms*1.2);
    transition-duration: calc(5000ms);
}

.elementor-69 .elementor-element.elementor-element-08eb0f2 .slick-dots {
    text-align: center;
    bottom: -20%;
}

.elementor-69 .elementor-element.elementor-element-08eb0f2 .slick-dots li button:before {
    font-size: 30px;
}

.elementor-69 .elementor-element.elementor-element-2178e71>.elementor-container {
    max-width: 1320px;
}

.elementor-69 .elementor-element.elementor-element-2178e71 {
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px 15px 0px 15px;
}

.elementor-69 .elementor-element.elementor-element-340df03>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-1379d20 {
    text-align: center;
    color: #BAC34E;
    font-size: 24px;
}

.elementor-69 .elementor-element.elementor-element-0518244 {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-0518244 .elementor-heading-title {
    font-size: 40px;
    letter-spacing: -1px;
}

.elementor-69 .elementor-element.elementor-element-0518244>.elementor-widget-container {
    margin: 10px 0px 40px 0px;
}

.elementor-69 .elementor-element.elementor-element-1462a4b>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-1462a4b>.elementor-element-populated {
    margin: 0px 15px 0px 15px;
}

.elementor-69 .elementor-element.elementor-element-22661d9 .elementor-teams-wrapper {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-22661d9 .team-image img {
    border-radius: 4px 4px 4px 4px;
}

.elementor-69 .elementor-element.elementor-element-22661d9 .elementor-teams-wrapper .team-name {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 10px;
}

.elementor-69 .elementor-element.elementor-element-22661d9 .elementor-teams-wrapper .team-job {
    font-size: 14px;
    text-transform: none;
}

.elementor-69 .elementor-element.elementor-element-b7e1bba>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-b7e1bba>.elementor-element-populated {
    margin: 0px 15px 0px 15px;
}

.elementor-69 .elementor-element.elementor-element-103128a .elementor-teams-wrapper {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-103128a .team-image img {
    border-radius: 4px 4px 4px 4px;
}

.elementor-69 .elementor-element.elementor-element-103128a .elementor-teams-wrapper .team-name {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 10px;
}

.elementor-69 .elementor-element.elementor-element-103128a .elementor-teams-wrapper .team-job {
    font-size: 14px;
    text-transform: none;
}

.elementor-69 .elementor-element.elementor-element-84dfb66>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-84dfb66>.elementor-element-populated {
    margin: 0px 15px 0px 15px;
}

.elementor-69 .elementor-element.elementor-element-28a88ca .elementor-teams-wrapper {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-28a88ca .team-image img {
    border-radius: 4px 4px 4px 4px;
}

.elementor-69 .elementor-element.elementor-element-28a88ca .elementor-teams-wrapper .team-name {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 10px;
}

.elementor-69 .elementor-element.elementor-element-28a88ca .elementor-teams-wrapper .team-job {
    font-size: 14px;
    text-transform: none;
}

.elementor-69 .elementor-element.elementor-element-87e9f93>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-69 .elementor-element.elementor-element-87e9f93>.elementor-element-populated {
    margin: 0px 15px 0px 15px;
}

.elementor-69 .elementor-element.elementor-element-4112de7 .elementor-teams-wrapper {
    text-align: center;
}

.elementor-69 .elementor-element.elementor-element-4112de7 .team-image img {
    border-radius: 4px 4px 4px 4px;
}

.elementor-69 .elementor-element.elementor-element-4112de7 .elementor-teams-wrapper .team-name {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 10px;
}

.elementor-69 .elementor-element.elementor-element-4112de7 .elementor-teams-wrapper .team-job {
    font-size: 14px;
    text-transform: none;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-69 .elementor-element.elementor-element-c29397b {
        width: 49%;
    }
    .elementor-69 .elementor-element.elementor-element-538cf58 {
        width: 2%;
    }
    .elementor-69 .elementor-element.elementor-element-2595c7a {
        width: 47%;
    }
    .elementor-69 .elementor-element.elementor-element-1462a4b {
        width: 50%;
    }
    .elementor-69 .elementor-element.elementor-element-b7e1bba {
        width: 50%;
    }
    .elementor-69 .elementor-element.elementor-element-84dfb66 {
        width: 50%;
    }
    .elementor-69 .elementor-element.elementor-element-87e9f93 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-69 .elementor-element.elementor-element-e0383f7 {
        padding: 0px 15px 0px 15px;
    }
    .elementor-69 .elementor-element.elementor-element-be16679 {
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .elementor-69 .elementor-element.elementor-element-1aad032>.elementor-container {
        min-height: 400px;
    }
    .elementor-69 .elementor-element.elementor-element-1462a4b>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-22661d9 .team-image {
        margin: 0px 0px 15px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-b7e1bba>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-103128a .team-image {
        margin: 0px 0px 15px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-28a88ca .team-image {
        margin: 0px 0px 15px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-4112de7 .team-image {
        margin: 0px 0px 15px 0px;
    }
}

@media(max-width:767px) {
    .elementor-69 .elementor-element.elementor-element-7933b12 {
        text-align: justify;
    }
    .elementor-69 .elementor-element.elementor-element-7933b12>.elementor-widget-container {
        margin: 0px 7px 0px 7px;
    }
    .elementor-69 .elementor-element.elementor-element-33c06b3.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-69 .elementor-element.elementor-element-209e73e .elementor-image-box-img {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-209e73e.elementor-position-right .elementor-image-box-img {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-209e73e.elementor-position-left .elementor-image-box-img {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-209e73e.elementor-position-top .elementor-image-box-img {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-209e73e {
        width: auto;
        max-width: auto;
    }
    .elementor-69 .elementor-element.elementor-element-f6a1129>.elementor-element-populated {
        margin: 40px 15px 40px 15px;
    }
    .elementor-69 .elementor-element.elementor-element-e6306d1 .elementor-image-box-img {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e6306d1.elementor-position-right .elementor-image-box-img {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e6306d1.elementor-position-left .elementor-image-box-img {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e6306d1.elementor-position-top .elementor-image-box-img {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e6306d1 {
        width: auto;
        max-width: auto;
    }
    .elementor-69 .elementor-element.elementor-element-b8d5e5a .elementor-heading-title {
        font-size: 36px;
        letter-spacing: -0.8px;
    }
    .elementor-69 .elementor-element.elementor-element-c29397b>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-01a5b2c .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-position-right .elementor-icon-box-icon {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-position-left .elementor-icon-box-icon {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-01a5b2c.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-84e8a28 .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-84e8a28.elementor-position-right .elementor-icon-box-icon {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-84e8a28.elementor-position-left .elementor-icon-box-icon {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-84e8a28.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-15799f2 .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-15799f2.elementor-position-right .elementor-icon-box-icon {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-15799f2.elementor-position-left .elementor-icon-box-icon {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-15799f2.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-15799f2>.elementor-widget-container {
        margin: 0px 0px 40px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-48893b4 .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-48893b4.elementor-position-right .elementor-icon-box-icon {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-48893b4.elementor-position-left .elementor-icon-box-icon {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-48893b4.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e8222f0 .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e8222f0.elementor-position-right .elementor-icon-box-icon {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e8222f0.elementor-position-left .elementor-icon-box-icon {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-e8222f0.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-b575f42 .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-b575f42.elementor-position-right .elementor-icon-box-icon {
        margin-left: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-b575f42.elementor-position-left .elementor-icon-box-icon {
        margin-right: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-b575f42.elementor-position-top .elementor-icon-box-icon {
        margin-bottom: 5px;
    }
    .elementor-69 .elementor-element.elementor-element-1aad032>.elementor-container {
        min-height: 550px;
    }
    .elementor-69 .elementor-element.elementor-element-1aad032:not(.elementor-motion-effects-element-type-background),
    .elementor-69 .elementor-element.elementor-element-1aad032>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: cover;
    }
    .elementor-69 .elementor-element.elementor-element-2178e71 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-69 .elementor-element.elementor-element-0518244 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-69 .elementor-element.elementor-element-1462a4b.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-69 .elementor-element.elementor-element-22661d9 .team-image {
        margin: 0px 0px 15px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-22661d9 {
        width: auto;
        max-width: auto;
    }
    .elementor-69 .elementor-element.elementor-element-b7e1bba.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-69 .elementor-element.elementor-element-103128a .team-image {
        margin: 0px 0px 15px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-103128a {
        width: auto;
        max-width: auto;
    }
    .elementor-69 .elementor-element.elementor-element-84dfb66.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-69 .elementor-element.elementor-element-84dfb66>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-28a88ca .team-image {
        margin: 0px 0px 15px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-28a88ca {
        width: auto;
        max-width: auto;
    }
    .elementor-69 .elementor-element.elementor-element-87e9f93.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-69 .elementor-element.elementor-element-4112de7 .team-image {
        margin: 0px 0px 15px 0px;
    }
    .elementor-69 .elementor-element.elementor-element-4112de7 {
        width: auto;
        max-width: auto;
    }
}

@media(min-width:1025px) {
    .elementor-69 .elementor-element.elementor-element-1dfd1f1:not(.elementor-motion-effects-element-type-background),
    .elementor-69 .elementor-element.elementor-element-1dfd1f1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
    .elementor-69 .elementor-element.elementor-element-c618b18:not(.elementor-motion-effects-element-type-background),
    .elementor-69 .elementor-element.elementor-element-c618b18>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
    .elementor-69 .elementor-element.elementor-element-a98fa25:not(.elementor-motion-effects-element-type-background),
    .elementor-69 .elementor-element.elementor-element-a98fa25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
    .elementor-69 .elementor-element.elementor-element-3196f72:not(.elementor-motion-effects-element-type-background),
    .elementor-69 .elementor-element.elementor-element-3196f72>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}